body {
    overflow: hidden;
}

header {
  height: 100vh;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(251, 235, 152);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  height: 100px;
  width: auto;
  max-width: 80%;
  margin-bottom: 20px;
}

header nav {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

header nav a{
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
}

header nav li {
    margin-bottom: 14px; 
}

main {
    flex: 1;
    padding: 20px;
}

form{
    display: flex;
    justify-content: flex-end;
}

form input{
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #E50F6A;
}

input[type="text"] {
  color: #E50F6A;
}

section h2 {
    margin-top: 30px; 
}